/* FONTS */

@font-face {
        font-family: 'Inter';
        src: url('../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('ttf');
        font-weight: normal;
        font-style: normal;
}

body {
        font-family: 'CustomFont', sans-serif;
}



* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

:root {
        --background: #1E1E1E;
        --background-secondary: #252526;
        --background-shade: #272729;
        --background-accent: #333333;
        --text-color: #fbfbfd;
        --primary: #0577E4;
        --primary-darker: #0865bc;
        --primary-subtle: hsla(209, 92%, 38%, 0.45);

        --section-gutter: 10px;
        --section-border-radius: 7px;

        --border: thin var(--border-style) var(--background-accent);
        --border-style: solid;
        --border-primary-color: rgba(251, 251, 253, 0.255);

        --border-radius: 7px;


        --button-border-radius: 5px;
        --button-padding: 7px 30px;

        --no-priority: var(var(--primary));
        --low-priority: rgb(68, 214, 68);
        --medium-priority: rgb(255, 185, 55);
        --high-priority: rgb(255, 66, 66);
}

/* :root {
        --background: #1e1a25;
        --background-secondary: #2b2735;
        --background-shade: #332e3d;
        --background-accent: #40384b;
        --text-color: #f2eef8;
        --primary: #a371f7;
        --primary-darker: #8d5dc9;
        --primary-subtle: hsla(265, 65%, 60%, 0.45);
        
        --section-gutter: 10px;
        --section-border-radius: 7px;
        
        --border: thin var(--border-style) var(--background-accent);
        --border-style: solid; 
        --border-primary-color: rgba(242, 238, 248, 0.25);
    
        --border-radius: 7px;
    
        --button-border-radius: 5px;
        --button-padding: 7px 30px;
    } */


body {
        background: var(--background);
        color: var(--text-color);
        height: 100vh;
}

#app {
        display: grid;
        height: 100vh;
        grid-template-columns: 270px 1fr;
        padding: var(--section-gutter);
        gap: var(--section-gutter)
}

#app>div:not([data-dialog]) {
        border-radius: var(--section-border-radius);
}

[data-dialog] {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        align-items: center;
        justify-content: center;
}

[data-project-page] {
        display: flex;
        flex-direction: column;
        border: var(--border);
        grid-row: 1;
        grid-column: 2/3;
        background-color: var(--background-secondary);
}

[data-projects] {
        display: flex;
        flex-direction: column;
        gap: var(--section-gutter);
        grid-row: 1;
        grid-column: 1/2;

        &>div {
                border: var(--border);
        }
}

[data-addproject] {
        border: thin solid var(--border-primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background: var(--primary);
        border-radius: var(--section-border-radius);
        padding: 15px;

        & span {
                scale: 1;
                font-weight: bold;
                font-size: 14pt;
                color: var(--text-color);
                text-transform: uppercase;
                font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }

        &>div {
                display: flex;
                align-items: center;
                justify-content: center;

                & svg path {
                        fill: var(--text-color);
                }
        }
}



[data-addproject]:hover {
        background: var(--primary-darker);
        transition: background 0.2s ease-in-out;
}

[data-projectdisplay] {
        display: flex;
        overflow: auto;
        flex-direction: column;
        flex: 1 1 auto;
        background-color: var(--background-secondary);
        border-radius: var(--section-border-radius);
        gap: 5px;
        padding: 5px;
}

[data-settings] {
        padding: 20px;
        background-color: var(--background-secondary);
        border-radius: var(--section-border-radius);
}

[data-dialog].active {
        display: flex;
        align-items: center;
        justify-content: center;
}

dialog {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.255);
        display: flex;
        align-items: center;
        justify-content: center;
}



dialog > div {
        --width: 500px;
        background: var(--background);
        border-radius: var(--section-border-radius);
        border: var(--border);
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.256);
        width: var(--width);
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: var(--text-color);

        .modal-header {
                display: flex;
                justify-content: space-between;
                font-size: 18px;
                font-weight: 600;
                font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                & path {
                        fill: var(--text-color)
                }
        }

        .input-container {
                display: flex;
                justify-content: space-between;
        }

        [data-icon] svg {
                --size: 25px;
                height: var(--size);
                width: var(--size);

                & path {
                        fill: var(--primary);
                }
        }

        [data="close"] {
                cursor: pointer;
        }


        [data-icon]:not([data='close']) {
                background: var(--background-secondary);
                position: relative;
                height: 50px;
                width: 50px;
                border: var(--border);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: var(--section-border-radius);
        }

        .icon-selection {
                position: relative;
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
        }

        .icon-selection:not(.icon-selection-menu.menu-active) {
                cursor: pointer;
        }

        .icon-selection-menu {
                background: var(--background-secondary);
                position: absolute;
                left: 55px;
                top: 0;
                display: none;
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: repeat(4, 1fr);
                gap: 10px;
                padding: 10px;
                border: var(--border);
                border-radius: var(--section-border-radius);
        }

        .icon-selection-menu.menu-active {
                display: grid;
        }


        .icon-selection+div {
                height: 50px;
                flex: 1;
                border: none;
                padding-left: 10px;
        }

        .icon-selection+div input {
                color: var(--text-color);
                height: 100%;
                width: 100%;
                background: none;
                border: none;
                border-bottom: var(--border);
                padding: 10px;
                font-size: 18px;
                cursor: pointer;
        }


        .icon-selection+div input:focus {
                outline: none;
                border-color: var(--primary);
        }

        .button-container {
                display: flex;
                gap: 8px;
                justify-content: flex-end;

                & button:nth-of-type(1) {
                        background: var(--background-secondary);
                }

                & button:nth-of-type(2) {
                        background: var(--primary);
                        border: thin solid var(--primary-subtle);
                }
        }
}

button {
        border: var(--border);
        border-radius: var(--button-border-radius);
        background: none;
        color: var(--text-color);
        padding: var(--button-padding);
        font-weight: bold;
        cursor: pointer;
}

.project-element {
        padding: 10px 15px;
        background: var(--background-accent);
        display: flex;
        gap: 15px;
        border-radius: var(--button-border-radius);
        align-items: center;

        & [data-icon] path {
                fill: var(--text-color)
        }
}

.project-page-header {
        background: var(--background-shade);
        display: flex;
        padding: 17px 25px;
        justify-content: space-between;
        border-bottom: thin solid var(--background-accent);

        [data="delete"],
        [data="edit"] {
                path {
                        fill: var(--primary);
                }
        }

        >div {
                display: flex;
                gap: 10px;
        }

        h2 {
                color: var(--text-color);
        }
}

.filters>div:nth-of-type(1) {
        display: flex;
        gap: 10px;
        padding: 10px 25px;
        background: var(--background-secondary);
        border-bottom: thin solid var(--background-accent);

        & button+div {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex: 1 1 auto;
        }

        [data-icon] {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                border: thin solid var(--border-primary-color);
                border-radius: var(--border-radius);

                & path {
                        stroke-width: 2;
                }
        }
}

.filters button {
        padding: var(--button-padding);
        background: var(--background-shade);
}

.to-dos {
        display: flex;
        flex: 1 1 auto;
}

.to-do-dialog > div {
        gap: 10px;
        button {
                background: var(--primary);
                height: 40.1px;
                width: 100%;
        }

        ::placeholder {
                color: var(--border-primary-color);
                font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 16px;
        }

        .modal-header {
                padding: 5px 10px;
        }

        .modal-header+div {
                display: flex;
                flex-direction: column;
                gap: 7px;

                input {
                        color: var(--text-color);
                        height: 100%;
                        width: 100%;
                        background: none;
                        border: var(--border);
                        border-bottom: var(--border);
                        padding: 10px;
                        font-size: 18px;
                        cursor: pointer;
                        background: var(--background-shade);
                        border-radius: var(--border-radius);
                }

                input:focus {
                        outline: none;
                        border-color: var(--primary);
                }
        }

        textarea {
                border: var(--border);
                color: var(--text-color);
                height: 100%;
                width: 100%;
                background: var(--background-shade);
                font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                border-bottom: var(--border);
                padding: 10px;
                font-size: 18px;
                cursor: pointer;
                resize: none;
                border-radius: var(--border-radius);

        }

        textarea:focus {
                outline: none;
                border-color: var(--primary);
        }


        /* Info container [priority, due] */
        textarea + div {
                display: flex;
                gap: 8px;

                >div {
                        flex: 1;
                }

                > div:nth-of-type(1) {
                        position: relative;
                        cursor: pointer;
                }

                > div:nth-of-type(2) {
                        position: relative;
                        cursor: pointer;
                }
                


                input[type="date"] {   
                        user-select: none;
                        color: transparent;
                        color-scheme: dark;
                        font-size: 16px;
                        height: 40.6px;
                        font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }

                input[type="date"]::after {
                        position: absolute;
                        height: 35px;
                        width: 60%;
                        background: var(--background-shade);
                        top:3px;
                        left:10px;
                        content: 'red';
                }

                .date-text {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        left:0;
                        top:0;
                        padding-left: 18px;
                        font-size: 16px;
                        color: var(--border-primary-color);
                        font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;       
                }
 
                input[type="date"]::-webkit-calendar-picker-indicator {
                        user-select: none;
                        display: none;
                }

                input[type="date"]::selection {
                        background: transparent;
                        user-select: none;
                        
                }

                .due [data-icon] {
                        position: absolute;
                        background: none;
                        border: none;
                        right: 16px;
                        height: 40.2px;
                        width: fit-content;
                        justify-content: center;
                        align-items: center;

                }
        }


        .priority-menu > div {
                cursor: pointer;
                padding: 7px 18px;
                border-radius: var(--border-radius);
                background: var(--background-secondary);
                display: flex;
                gap: 10px;
                align-items: center;
                [data-icon] {
                        border: none;
                        width: max-content;
                        height: max-content;
                        background: none;
                }

                [data-icon]+span {
                        color: var(--border-primary-color);
                        font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }

        }


        [data-priority="None"] svg path {
                fill: var(--primary)
        }

        [data-priority="Low"] svg path {
                fill: var(--low-priority);
        }

        [data-priority="Medium"] svg path {
                fill: var(--medium-priority);
        }

        [data-priority="High"] svg path {
                fill: var(--high-priority);
        }

}

.priority-menu {
        background: var(--background-secondary);
        border-radius: var(--border-radius);
        position: absolute;
        width: 100%;
        top: 46px;
        display: none;
        /* to change */
        gap: 5px;
        grid-template-rows: repeat(4, 1fr);
}

.priority-menu.menu-active {
        display: grid;
}



.task-priority-container {
        position: relative;

        .priority-container {
                display: flex;
                align-items: center;
                flex: 1 1 auto;
                gap: 10px;
                background: var(--background-secondary);
                border: var(--border);
                border-radius: var(--border-radius);
                padding: 7px 18px;

                [data-icon] {
                        border: none;
                        height: fit-content;
                        width: fit-content;
                }

                [data-icon]+span {
                        font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        color: var(--border-primary-color);
                }
        }

        .priority-container.outlined {
                border-color: var(--primary);
        }
}